*.class
*.log
*.DS_Store
*.cache

output/*

# sbt specific
dist/*
target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
*.scala_dependencies

logs
project/project
project/target
target
tmp
*.history
dist
/*.iml
/out
/.idea_modules
*.classpath

/RUNNING_PID

*.css/
*.img/

*.project
*.idea
*.settings
*.target

os-address-lookup.conf
vehiclesServices.conf

vagrant_ansible_inventory_default
os-address-lookup.conf
vehiclesServices.conf
.vagrant/
workdir

